
# Absolute path to directory containing a local copy of geonames country files
# (contains lists of cities and administrative subdivisions of the country)
# These files can be downloaded from http://download.geonames.org/export/dump/
dir-countries: /path/to/countries

# Absolute path to directory containing a local copy of geonames postal files
# (contains postal code informations)
# These files can be downloaded from http://download.geonames.org/export/zip/
dir-postal: /path/to/postal

postgresql: 
  dbhost: localhost
  dbport: 5432
  dbuser: my_postgres_user
  dbpassword: my_postgres_password
  dbname: my_postgres_database

